<ion-popover-view>
    <ion-content>
        <!--         <ul class="list">
            <li class="item">
                <a> Configure and add</a>
            </li>
            <li class="item">
                Manual add
            </li>
        </ul> -->
        <ion-list>
<!--             <ion-item menu-close ng-click="goNext('app.checkpassword')">
                <i class="icon ion-home "></i>
                <span class="menuname"> Configure and add</span>
            </ion-item> -->
            <ion-item menu-close ng-click="goNext('app.esptouch')">
                <!-- <i class="icon ion-wifi ion-person"></i> -->
                <span class="menuname">Smart config</span>
            </ion-item>
            <ion-item menu-close ng-click="goNext('app.configesp')">
                <!-- <i class="icon ion-wifi ion-person"></i> -->
                <span class="menuname">Manual config</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>
