<ion-view id="selectroom" title="Devices" cache-view='false'>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-plus-round" ng-click="openAddRoom1($event)">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row" style="color:white;">
            <div class="col col-33" style="background: rgba(255, 255, 255, 0.43);text-align:center;">
                LOGGER
            </div>
            <div class="col col-33" style="background: rgba(255, 255, 255, 0.61);text-align:center;">
                THERMOSTAT
            </div>
            <div class="col col-33" style="background: rgba(255, 255, 255, 0.43);text-align:center;">
                ISOLATOR
            </div>
        </div>
        <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe" >
            <ion-item ng-repeat="item in items" class="" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" on-drag-right="onSwipeRight()" on-drag-left="onSwipeLeft()" on-hold="edit($index)" ng-click="openRooomDetails(item)">
                <div class="row">
                    <div class="col col-10">
                        <div style="    width: 14px; height: 14px;background-color: #5CFD5C; border-radius: 7px;margin-top: 50%;">
                        </div>
                    </div>
                    <div class="col col-90">
                        <div class="row padd_0">
                            <div class="col col-25 padd_0">
                                <p style="color:white;vertical-align: middle;    font-size: 21px;">{{item.product_product_id}}</p>
                                <p style="color:white;vertical-align: middle;font-weight:bold;    font-size: 10px;color: rgba(255, 255, 255, 0.46);">{{item.product_product_id}}</p>
                            </div>
                            <div class="col col-25 padd_0">
                                <p style="color:rgba(255, 255, 255, 0.46);vertical-align: middle;font-weight:bold;margin-top: 15%;">Cool</p>
                            </div>
                            <div class="col col-25 padd_0">
                                <div class="row padd_0">
                                    <div class="col padd_0">
                                        <p style="color:white;vertical-align: middle;font-size: 22px;" ng-if="appSettings.temperatureUnits=='degree'">{{item.product.values.roomtemp | celsius| number:0}}&#x2103</p>
                                        <p style="color:white;vertical-align: middle;font-size: 22px;" ng-if="appSettings.temperatureUnits=='faren'">{{item.product.values.roomtemp| fahrenheit| number:0}}&#x2109</p>
                                    </div>
                                </div>
                                <div class="row padd_0">
                                    <div class="col" style="padding-left: 0px;">
                                        <div>
                                            <img class="img-fan" src="img/fan.png" style="    width: 17%;"> Low
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-25 padd_0">
                                <div class="row padd_0">
                                    <div class="col padd_0">
                                        <p style="color:white; vertical-align: middle;float:right;font-size: 22px;" ng-if="appSettings.temperatureUnits=='degree'">{{item.product.values.settemp| celsius| number:0}}&#x2103</p>
                                        <p style="color:white; vertical-align: middle;float:right;font-size: 22px;" ng-if="appSettings.temperatureUnits=='faren'">{{item.product.values.settemp| fahrenheit| number:0}}&#x2109</p>
                                    </div>
                                </div>
                                <div class="row padd_0">
                                    <div class="col" style="font-size: 99px;">
                                        <p style="color:rgba(255, 255, 255, 0.46); vertical-align: middle;font-weight:bold;float:right;">set</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                </div>
                <ion-option-button class="button-assertive icon ion-close" ng-click="delete($index)">
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
