<ion-view>
    <!--     <ion-nav-bar class="bar-stable">
        <ion-nav-title class="header_title" ng-bind="langFile.detailView.header_title">
        </ion-nav-title>
        <ion-nav-buttons side="left">
            <button ng-click="openLogin()()" class="button button-icon button-clear ion-android-arrow-back" menu-toggle="right">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar> -->
<!--     <div class="bar bar-header bar-stable" style="    background-color: transparent !important;">
        <button class="button button-icon icon ion-android-arrow-back" ng-click="openLogin()" style="color:white;"></button> -->
        <!-- <div class="title">Title</div> -->
        <!-- <button class="button button-clear">Right</button> -->
   <!-- </div>
 -->
    <ion-content class="registration">
        <form name="registrationForm">
            <div class="newaccounttitle">New Account11
            </div>
            <!-- <div class="imgdiv"><img src="img/logo.png" class="imglogo">
            </div> -->
            <div class="regdiv">
                <div class="list list-inset username-div">
                    <label class="item item-input username-label">
                        <i class="icon ion-android-person placeholder-icon unameicon"></i>
                        <input type="text" name="username" placeholder="Username" ng-model="regData.username" ng-minlength="5" ng-maxlength="30" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.username.$error" ng-messages-include="templates/error-messages.html" class="form-errors" ng-if="registrationForm.username.$touched">
                    <div class="form-error" ng-message="required">Please enter your Username</div>
                </div>
                <div class="list list-inset username-div">
                    <label class="item item-input username-label">
                        <i class="icon ion-ios-email-outline placeholder-icon unameicon"></i>
                        <input type="email" name="email" placeholder="Email" ng-model="regData.email" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.email.$error" ng-messages-include="templates/error-messages.html" class="form-errors" ng-if="registrationForm.email.$touched">
                    <div class="form-error" ng-message="required">Please enter your Email</div>
                </div>
                <div class="  list list-inset username-div">
                    <label class="item item-input  username-label ">
                        <i class="icon ion-ios-locked-outline placeholder-icon unameicon"></i>
                        <input name="password" type="password" placeholder="Password" ng-model="regData.pwd" class="username-text" ng-minlength="6" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.password.$error" ng-messages-include="templates/error-messages.html" class="form-errors" ng-if="registrationForm.password.$touched">
                    <div class="form-error" ng-message="required">Please enter your Password</div>
                </div>
                <div class="  list list-inset username-div">
                    <label class="item item-input  username-label ">
                        <i class="icon ion-ios-locked-outline placeholder-icon unameicon"></i>
                        <input name="confirmpassword" type="password" placeholder="Confirm Password" ng-model="regData.confirmpassword" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.confirmpassword.$error" ng-messages-include="templates/error-messages.html" class="form-errors" ng-if="registrationForm.confirmpassword.$touched">
                    <div class="form-error" ng-message="required">ssscdsu</div>
                </div>
                <div class="list list-inset username-div">
                    <label class="item item-input username-label">
                        <i class="icon ion-iphone placeholder-icon unameicon"></i>
                        <input name="phonenum" type="number" placeholder="Phonenumber" ng-model="regData.phonenum" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.phonenum.$error" ng-messages-include="templates/error-messages.html" class="form-errors" ng-if="registrationForm.phonenum.$touched">
                    <div class="form-error" ng-message="required">Please enter your Mobile Number</div>
                </div>
                <div class="list list-inset username-div">
                    <label class="item item-input username-label">
                        <i class="icon ion-ios-location unameicon"></i>
                        <input name="place" type="text" placeholder="place" ng-model="regData.place" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.place.$error" ng-messages-include="templates/error-messages.html" class="form-errors" ng-if="registrationForm.place.$touched">
                    <div class="form-error" ng-message="required">Please enter your place</div>
                </div>
                <div class="btn-login-div">
                    <button ng-click="create()" type="submit" class="button btn-login">Create</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
