<ion-view>
    <ion-content class="registration">
        <form name="registrationForm">
            <div class="newaccounttitle">Sign up
            </div>
            <!-- <div class="imgdiv"><img src="img/logo.png" class="imglogo">
            </div> -->
            <div class="regdiv">
                <div class="list list-inset username-div">
                    <label class="item item-input username-label">
                        <i class="icon ion-android-person placeholder-icon unameicon"></i>
                        <input type="text" name="username" placeholder="Username" ng-model="regData.firstname" ng-minlength="5" ng-maxlength="30" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.username.$error" class="form-errors" ng-if="registrationForm.username.$touched">
                    <div class="form-error" ng-message="required">Please enter your Username</div>
                    <!-- <div class="form-error" ng-message="required">You left the field blank...</div> -->
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                    <div class="form-error" ng-message="email">Your field has an invalid email address</div>
                </div>
                <div class="list list-inset username-div">
                    <label class="item item-input username-label">
                        <i class="icon ion-ios-email-outline placeholder-icon unameicon"></i>
                        <input type="email" name="email" placeholder="Email" ng-model="regData.email" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.email.$error" class="form-errors" ng-if="registrationForm.email.$touched">
                    <div class="form-error" ng-message="required">Please enter your Email</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                    <div class="form-error" ng-message="email">Your field has an invalid email address</div>
                </div>
                <div class="  list list-inset username-div">
                    <label class="item item-input  username-label ">
                        <i class="icon ion-ios-locked-outline placeholder-icon unameicon"></i>
                        <input name="password" type="password" placeholder="Password" ng-model="regData.password" class="username-text" ng-minlength="6" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.password.$error" class="form-errors" ng-if="registrationForm.password.$touched">
                    <div class="form-error" ng-message="required">Please enter your Password</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                    <div class="form-error" ng-message="email">Your field has an invalid email address</div>
                </div>
                <div class="  list list-inset username-div">
                    <label class="item item-input  username-label ">
                        <i class="icon ion-ios-locked-outline placeholder-icon unameicon"></i>
                        <input name="confirmpassword" type="password" placeholder="Confirm Password" ng-model="regData.confirmpassword" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.confirmpassword.$error" class="form-errors" ng-if="registrationForm.confirmpassword.$touched">
                    <div class="form-error" ng-message="required">ssscdsu</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                    <div class="form-error" ng-message="email">Your field has an invalid email address</div>
                </div>
                <div class="list list-inset username-div">
                    <label class="item item-input username-label">
                        <i class="icon ion-iphone placeholder-icon unameicon"></i>
                        <input name="phonenum" type="number" placeholder="Phonenumber" ng-model="regData.mobile" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.phonenum.$error" class="form-errors" ng-if="registrationForm.phonenum.$touched">
                    <div class="form-error" ng-message="required">Please enter your Mobile Number</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                    <div class="form-error" ng-message="email">Your field has an invalid email address</div>
                </div>
                <div class="list list-inset username-div">
                    <label class="item item-input username-label">
                        <i class="icon ion-ios-location unameicon"></i>
                        <input name="place" type="text" placeholder="place" ng-model="regData.place" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.place.$error" class="form-errors" ng-if="registrationForm.place.$touched">
                    <div class="form-error" ng-message="required">Please enter your place</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                    <div class="form-error" ng-message="email">Your field has an invalid email address</div>
                </div>
                <div class="btn-login-div" >
                    <button ng-click="signUp()" type="submit" class="button btn-login" ng-disabled="regData.confirmpassword!=regData.password">Create</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
