<ion-view title="Settings">
    <ion-content class="settings" padding="true">
        <div class="list">
            <label class="item item-input item-select" style="background:transparent;color:white;    border-left: 0px;
    border-right: 0px;">
                <div class="input-label" style="background:transparent;color:white;">
                    Units
                </div>
                <select ng-model="appSettings.temperatureUnits" ng-change="changed1()" style="background:transparent;color:white">
                    <option value="degree">Degree Celsius</option>
                    <option value="faren">Fahrenheit</option>
                </select>
            </label>
            <label class="item item-input item-select" style="background:transparent;color:white;    border-left: 0px;
    border-right: 0px;">
                <div class="input-label" style="background:transparent;color:white;">
                    Languages
                </div>
                <select ng-model="appSettings.language" ng-change="changed()" style="background:transparent;color:white">
                    <option value="en">English</option>
                    <option value="es">Spanish</option>
                </select>
            </label>
        </div>
    </ion-content>
</ion-view>
