<ion-view title="">
    <ion-content class="settings" padding="true">
        <div class="row" ng-repeat="item in timeSheet ">
            <div class="col">
                <div class="row">
                    <div class="col col-20">
                        {{item.time}}
                    </div>
                    <div class="col col-80">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="item range" style="background:transparent;border:none ;width:100%">
                            0
                            <input type="range" ng-model="item.value "> 100
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="text" id="example_id" name="example_name" value="" />
    </ion-content>
</ion-view>
