<ion-view title="Profile">
    <ion-content class="profile">
<!--         <div class="row">
            <div class="col">
                <button class="button button-icon icon ion-edit" style="color:white;    margin-left: 75px;" ng-click="edit()"></button>
            </div>
        </div> -->
        <div class="row">
            <div class="col">
                <img src="{{profile.imgURI}}" style="    width: 120px;height: 120px;border-radius: 50%; background-color: gray;margin: 0 auto;display:block;" ng-click="edit()">
            </div>
        </div>
        <!-- <div class="imgdiv"><img src="img/logo.png" class="imglogo"> -->
        <div class="list list-inset username-div">
            <!-- <span class="profilelbl">Name</span> -->
            <label class="item item-input username-label">
                <input type="text" placeholder="Name" ng-model="regData.name" class="username-text">
            </label>
        </div>
        <div class="list list-inset username-div">
            <!-- <span class="profilelbl">Email</span> -->
            <label class="item item-input username-label">
                <input type="text" placeholder="Email" ng-model="regData.email" class="username-text">
            </label>
        </div>
        <div class="  list list-inset username-div">
            <!-- <span class="profilelbl">Password</span> -->
            <label class="item item-input  username-label ">
                <input type="text" placeholder="Password" ng-model="regData.pwd" class="username-text">
            </label>
        </div>
        <div class="list list-inset username-div">
            <!-- <span class="profilelbl">Phonenumber</span> -->
            <label class="item item-input username-label">
                <input type="text" placeholder="Phonenumber" ng-model="regData.phonenum" class="username-text">
            </label>
        </div>
        <div class="list list-inset username-div">
            <!-- <span class="profilelbl">Place</span> -->
            <label class="item item-input username-label">
                <input type="text" placeholder="Place" ng-model="regData.place" class="username-text">
            </label>
        </div>
        <div class="list list-inset username-div" style="margin-left:0px;">
            <button ng-click="edit()" class="button btn-login">Edit</button>
        </div>
    </ion-content>
</ion-view>
