<!-- <ion-view title="">
    <ion-content class="configwifi">
        <div class="">
            <div class="titlecon">Configure WI-FI
            </div>
            <div class="dateconfg"> November 20, 2015
            </div>
            <div style="width: 100%;">
                <div class="list list-inset username-div">
                    <label class="item item-input item-floating-label username-label">
                        <span class="input-label unamespan"  style="    color: white;">Product Id</span>
                        <input type="text" ng-model="configData1.uname1" placeholder="Product Id" class="username-text" autocomplete="off" style="    color: white;">
                    </label>
                </div>
                <div class="list list-inset username-div">
                    <label class="item item-input item-floating-label username-label">
                        <span class="input-label unamespan"  style="    color: white;">Product Password</span>
                        <input type="text" ng-model="configData1.uname2" placeholder="Product Password" class="username-text" autocomplete="off" style="    color: white;">
                    </label>
                </div>
                <div class="list list-inset username-div">
                    <label class="item item-input item-floating-label username-label">
                        <span class="input-label unamespan"  style="    color: white;">Wi-fi username</span>
                        <input type="text" ng-model="configData1.uname3" placeholder="Wi-fi username" class="username-text" autocomplete="off" style="    color: white;">
                    </label>
                </div>
                <div class="list list-inset username-div">
                    <label class="item item-input item-floating-label username-label">
                        <span class="input-label unamespan"  style="    color: white;">Wi-fi password</span>
                        <input type="text" ng-model="configData1.uname4" placeholder="Wi-fi password" class="username-text" autocomplete="off" style="    color: white;">
                    </label>
                </div>
                <div class="btn-login-div">
                    <button ng-click="config()" class="button btn-login">Configure</button>
                </div>
                
            </div>
        </div>
    </ion-content>
</ion-view> -->
<ion-view title="Configure Wi-fi">
    <ion-content class="registration">
        <form name="registrationForm">
            <div class="regdiv">
<!--                 <div class="list list-inset username-div">
                    <label class="item item-input username-label">
                        <input type="text" name="productid" placeholder="Product Id" ng-model="configData.product_id" ng-minlength="5" ng-maxlength="30" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.productid.$error" class="form-errors" ng-if="registrationForm.productid.$touched">
                    <div class="form-error" ng-message="required">Please enter product id</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                </div>
                <div class="list list-inset username-div">
                    <label class="item item-input username-label">
                        <input type="password" name="password_deafult" placeholder="Default password" ng-model="configData.password_deafult" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.password_deafult.$error" class="form-errors" ng-if="registrationForm.password_deafult.$touched">
                    <div class="form-error" ng-message="required">Please enter password</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                </div> -->
                <div class="  list list-inset username-div">
                    <label class="item item-input  username-label ">
                        <input name="wifi_name" type="text" placeholder="Wifi name" ng-model="configData.wifi_name" class="username-text" ng-minlength="6" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.wifi_name.$error" class="form-errors" ng-if="registrationForm.wifi_name.$touched">
                    <div class="form-error" ng-message="required">Please enter your wifi name</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                </div>
                <div class="  list list-inset username-div">
                    <label class="item item-input  username-label ">
                        <input name="wifi_password" type="password" placeholder="Password" ng-model="configData.wifi_password" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.wifi_password.$error" class="form-errors" ng-if="registrationForm.wifi_password.$touched">
                    <div class="form-error" ng-message="required">Please enter your Wi-fi passaword</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                </div>
                <div class="btn-login-div">
                    <button ng-click="config()" type="submit" class="button btn-login" ng-disabled="registrationForm.$invalid">Create</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
