<ion-modal-view class="pop-model">
    <img src="img/close_btn.png" class="pop-close" ng-click="closeLogin()">
    <ion-content class="pop-box">
        <form>
            <div class="list">
               <!--  <label class="item item-input">
                   EDIT
                </label> -->
                <div class="item item-input" ng-click="deletePlan()">
                  DELETE
                </div>
              
            </div>
        </form>
    </ion-content>
</ion-modal-view>
