<ion-view title="Configre device" cache-view='false'>
    <ion-content class="registration">
        <form name="registrationForm" ng-if="showCreatePswd==true">
            <div class="regdiv">
                <div class="  list list-inset username-div">
                    <label class="item item-input  username-label ">
                        <input name="device_id" type="text" placeholder="device Id" ng-model="configData.device_id" class="username-text" ng-minlength="6" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.device_id.$error" class="form-errors" ng-if="registrationForm.device_id.$touched">
                    <div class="form-error" ng-message="required">Please enter your device Id name</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                </div>
                <div class="  list list-inset username-div">
                    <label class="item item-input  username-label ">
                        <input name="default_password" type="password" placeholder="Default Password" ng-model="configData.default_password" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.default_password.$error" class="form-errors" ng-if="registrationForm.default_password.$touched">
                    <div class="form-error" ng-message="required">Please enter your Wi-fi passaword</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                </div>
                <div class="  list list-inset username-div">
                    <label class="item item-input  username-label ">
                        <input name="new_password" type="password" placeholder="New Password" ng-model="configData.new_password" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.new_password.$error" class="form-errors" ng-if="registrationForm.new_password.$touched">
                    <div class="form-error" ng-message="required">Please enter your Wi-fi passaword</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                </div>
                <div class="btn-login-div">
                    <button ng-click="submit()" type="submit" class="button btn-login" ng-disabled="registrationForm.$invalid">Create</button>
                </div>
            </div>
        </form>
        <form name="registrationForm2" ng-if="showCreatePswd==false">
            <div class="regdiv">
      
                <div class="  list list-inset username-div">
                    <label class="item item-input  username-label ">
                        <input name="new_password" type="password" placeholder="Device Password" ng-model="configData.old_password" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.new_password.$error" class="form-errors" ng-if="registrationForm.new_password.$touched">
                    <div class="form-error" ng-message="required">Please enter your Wi-fi passaword</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                </div>
                <div class="btn-login-div">
                    <button ng-click="submit()" type="submit" class="button btn-login" ng-disabled="registrationForm.$invalid">Submit</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
