<ion-view title="Set password" cache-view='false'>
    <ion-content class="registration">
        <form name="registrationForm">
            <div class="regdiv">
                <div class="list list-inset username-div">
                    <label class="item item-input username-label">
                        <!-- <i class="icon ion-android-person placeholder-icon unameicon"></i> -->
                        <input type="text" name="productid" placeholder="Product Id" ng-model="setpassword.product_id" ng-minlength="5" ng-maxlength="30" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.productid.$error" class="form-errors" ng-if="registrationForm.productid.$touched">
                    <div class="form-error" ng-message="required">Please enter product Id</div>
                    <!-- <div class="form-error" ng-message="required">You left the field blank...</div> -->
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                    <!-- <div class="form-error" ng-message="email">Your field has an invalid email address</div> -->
                </div>
                <div class="list list-inset username-div">
                    <label class="item item-input username-label">
                        <!-- <i class="icon ion-ios-email-outline placeholder-icon unameicon"></i> -->
                        <input type="password" name="password_deafult" placeholder="Default password" ng-model="setpassword.password_deafult" class="username-text" required>
                    </label>
                </div>
                <div ng-messages="registrationForm.password_deafult.$error" class="form-errors" ng-if="registrationForm.password_deafult.$touched">
                    <div class="form-error" ng-message="required">Please enter password</div>
                    <div class="form-error" ng-message="minlength">Your field is too short</div>
                    <div class="form-error" ng-message="maxlength">Your field is too long</div>
                    <!-- <div class="form-error" ng-message="email">Your field has an invalid email address</div> -->
                </div>
                <div class="  list list-inset username-div" style="color:white;">
                    Change password
                    <label class="toggle toggle-assertive" style="float: right;">
                        <input type="checkbox" ng-model="toggle.formStatus" ng-change="test()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div ng-if="toggle.formStatus==true">
                    <div class="  list list-inset username-div">
                        <label class="item item-input  username-label ">
                            <!-- <i class="icon ion-ios-locked-outline placeholder-icon unameicon"></i> -->
                            <input name="Password" type="password" placeholder="Password" ng-model="setpassword.Password" class="username-text" ng-minlength="6" required>
                        </label>
                    </div>
                    <div ng-messages="registrationForm.Password.$error" class="form-errors" ng-if="registrationForm.Password.$touched">
                        <div class="form-error" ng-message="required">Please enter your password</div>
                        <div class="form-error" ng-message="minlength">Your field is too short</div>
                        <div class="form-error" ng-message="maxlength">Your field is too long</div>
                    </div>
                    <div class="  list list-inset username-div">
                        <label class="item item-input  username-label ">
                            <!-- <i class="icon ion-ios-locked-outline placeholder-icon unameicon"></i> -->
                            <input name="wifi_password" type="password" placeholder="Confirm Password" ng-model="setpassword.wifi_password" class="username-text" required>
                        </label>
                    </div>
                    <div ng-messages="registrationForm.wifi_password.$error" class="form-errors" ng-if="registrationForm.wifi_password.$touched">
                        <div class="form-error" ng-message="required">Please enter your password again</div>
                        <div class="form-error" ng-message="minlength">Your field is too short</div>
                        <div class="form-error" ng-message="maxlength">Your field is too long</div>
                    </div>
                </div>
                <div class="btn-login-div">
                    <button ng-click="submit()" type="submit" class="button btn-login" ng-disabled="registrationForm.$invalid">Submit</button>
                </div>
            </div>
        </form>
    </ion-content>
