/* Empty. Add your own CSS if you like */

ion-view {
    background-image: url("../img/bck3.jpg") !important;
    background-size: cover;
}

.padd_0 {
    padding: 0px !important;
}

#selectroom .item {
    margin-bottom: 8px;
    background-color: rgba(247, 246, 246, 0.45);
    padding: 0px;
    color: white !important;
    border: none;
}

#selectroom .bar-positive {
    background: transparent;
}

#selectroom .imgRound {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.roomdetails .bar-positive {
    background: transparent;
}

.roomdetails .setTemp canvas {
    /*     max-width: 100% !important;
    width: 100% !important; */
}

.roomdetails .toggle-small.item-toggle .toggle {
    top: 10px;
}

.roomdetails .toggle-small input:checked + .track {
    background: rgb(17, 193, 243);
    border-color: rgba(76, 217, 215, 0.52);
}

.roomdetails .row + .row {
    margin-top: 0px;
    padding-top: 0;
    padding-bottom: 0px;
}

.roomdetails .row {
    margin-right: none!important;
    margin-left: none!important;
}

.roomdetails .bg-image-1 {
    background-image: url('../img/bgdiv.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    padding: 0px 5px 0px 5px;
}

.roomdetails .bg-image-2 {
    background-image: url('../img/bgdiv.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px !important;
}

.roomdetails .padd-top-2 {
    padding-top: 2px;
}

.roomdetails .row .bg-image-2 .col-33 span {
    padding-top: 1px;
}

.roomdetails .img-arrow-down {
    background: url('../img/arrow_down.png') no-repeat;
    cursor: pointer;
    border: none;
    background-size: cover;
    height: 41px;
    margin: 48px -4px;
}

.roomdetails .img-arrow-up {
    background: url('../img/arrow_up.png') no-repeat;
    cursor: pointer;
    border: none;
    background-size: cover;
    height: 41px;
    margin: 48px -4px;
}

.roomdetails .toggle-auto {
    border: none;
    color: white;
    font-size: 13px;
    background: none;
    font-weight: bold;
}

.roomdetails .toggle .handle {
    -webkit-transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    -webkit-transition-property: background-color, transform;
    transition-property: background-color, transform;
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 27px;
    background-color: #fff;
    top: 0px;
    left: 6px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);
}

.roomdetails .toggle .track {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color, border;
    transition-property: background-color, border;
    display: inline-block;
    box-sizing: border-box;
    width: 45px;
    height: 12px;
    border: solid 2px #e6e6e6;
    border-radius: 20px;
    background-color: #fff;
    content: ' ';
    /* top: -65px; */
    cursor: pointer;
    pointer-events: none;
}

.roomdetails .toggle.toggle-assertive input:checked + .track {
    border-color: #FC3768;
    background-color: #FC3768;
}

.roomdetails .toggle input:checked + .track .handle {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    background-color: #59D5DC;
}

.roomdetails .row .col .relative-img {
    position: relative;
}

.roomdetails .padd-10 {
    padding: 10px;
}

.roomdetails .padd-left-25 {
    padding-left: 15px;
    padding-right: 0px;
}

.roomdetails .img-triangle {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 20px;
}

.roomdetails .img-polygon-1 {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 41px;
}

.roomdetails .img-polygon-2 {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 67px;
}

.roomdetails .img-fan {
    height: 50px;
    width: 50px;
}

.roomdetails .margin-8 {
    margin: 8px auto;
    margin-bottom: 0px;
}

.roomdetails .row .padd-0 {
    padding: 0px;
}

.roomdetails .bg-image-2 .col-33 {
    padding: 0 27px;
}

.roomdetails .text-settemp {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.roomdetails span {
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.roomdetails .item-checkbox {
    border: none;
    background: none;
    width: 100%;
}

.roomdetails .item-checkbox .checkbox {
    padding: 6px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.roomdetails .item-radio {
    padding: 0;
    border-radius: 50%;
}

.roomdetails .item-radio .radio-icon {
    padding: 5px 11px;
    font-size: 25px;
}

.roomdetails .radio-content {
    width: 45px;
    height: 45px;
}

.roomdetails .checkbox input,
.checkbox-icon {
    margin: auto;
    right: 7px;
    width: 31px;
    height: 31px;
}

#blue .checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
    background: #12eeb9;
    border-color: #12eeb9;
}

.roomdetails .footer {
    background-color: #50d2c2;
    height: 54px;
    margin-top: 15px !important;
}

.roomdetails .footer .col-67 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.roomdetails .roundbutton {
    background: rgba(211, 211, 211, 0.52);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding-top: 5px;
}

.roomdetails .center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.roomdetails .blue-radio {
    border-color: #5775df;
    background-color: #5775df;
    color: white;
}

.roomdetails .gray-radio {
    border-color: #ed9072;
    background-color: #ed9072;
    color: white;
}

.roomdetails .red-radio {
    border-color: #fc456d;
    background-color: #fc456d;
    color: white;
}

.roomdetails .padd-0 {
    padding: 0px !important;
}

.roomdetails .icon {
    font-size: 29px;
    color: white;
}

#setTemp canvas {
    margin-bottom: -3px;
}

#roomTemp canvas {
    padding: 5px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    display: block;
}

.login-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px 22px 15px 22px;
}

.pull-center {
    text-align: center;
}

.rm_decoration {
    text-decoration: none;
    color: #696969;
}

.login-signup {
    color: #B2B2B3;
    font-size: 16px;
    margin-top: 2px;
}

.signup-color {
    color: white;
}

.login .username-text {
    font-size: 15px!important;
    color: #ffffff!important;
}

.login .username-label {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #ffffff!important;
}

.login .username-div {
    background-color: transparent;
    margin: 0px 22px;
}

.login .password-div {
    background-color: transparent;
    margin: 0px 22px;
}

.login .unameicon {
    font-size: 25px!important;
    color: #ffffff!important;
}

.login .btn-login {
    color: whitesmoke;
    /*margin-top: 50%;*/
    border: 0px;
    width: 100%;
    background: #AE6BCE !important;
    border-style: solid;
    padding-top: 0px !important;
    padding-bottom: 0px;
    padding-left: 4px !important;
    border-radius: 4px;
    margin-bottom: 2%;
    border-color: rgba(186, 186, 186, 0.63);
}

.login .btn-logindiv {
    padding: 10px;
}

.addroom .indication {
    padding: 0 !important;
    margin-top: 32px;
    color: white;
    border: none;
    font-size: 12px;
    margin-left: 19px;
    background-color: transparent;
}

.addroom .selectcat {
    margin-left: 18px;
    border: 0px;
    margin-right: 18px;
    border-bottom: 1px solid #DCD9D9;
    padding: 1px;
    margin-top: 0px;
}

.addroom .item-select {
    border: 0;
    border-bottom: 1px solid rgb(231, 231, 232);
}

.addroom .error-message {
    color: red;
    margin-left: 18px !important;
    margin-right: 18px !important;
}

.addroom .button.button-positive {
    border-color: transparent;
    background-color: white !important;
    color: #50D2C2;
    height: 43px;
    margin-top: 0px;
    border-radius: 0px;
    display: inline;
    width: 85%;
}

.addroom .selectdd {
    height: 44px;
    width: auto;
    margin-left: 18px !important;
    margin-right: 18px !important;
    left: 0 !important;
    background-color: transparent !important;
}

.addroom .gender-dropdown {
    direction: ltr !important;
    max-width: 100% !important;
    width: 100%;
    float: left;
    right: 0px !important;
    padding-left: 0px !important;
    color: white;
    background-color: transparent !important;
}

.addroom .selectcat {
    margin-left: 18px;
    border: 0px;
    margin-right: 18px;
    border-bottom: 1px solid #DCD9D9;
    padding: 1px;
    margin-top: 6px;
    background-color: transparent;
}

.addroom .error-message {
    color: red;
    margin-left: 18px !important;
    margin-right: 18px !important;
}

.addroom .placeholder-icon:last-child {
    padding-left: 105px;
}

.addroom .bgimg {
    width: 66px;
    background-image: url('../img/livingroom.jpg');
    height: 66px;
    float: right;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.addroom .btn-addroomdiv {
    margin-top: 33px!important;
    margin-right: 34px;
    margin-left: -9px;
}

.addroom @media screen and ( min-height: 1280px) {
    .btn-login {
        font-size: 28px!important;
        height: 99px!important;
        border-radius: 50px!important;
    }
    .username-div {
        height: 100px;
        margin-left: : 5px!important;
    }
    .unameicon {
        font-size: 47px;
    }
}

.addroom .btn-login {
    color: whitesmoke;
    margin-top: 20px;
    border: 0px;
    width: 100%;
    background: #1abc9c !important;
    border-style: solid;
    padding-top: 0px !important;
    padding-bottom: 0px;
    padding-left: 4px !important;
    border-radius: 0px;
    border-color: rgba(186, 186, 186, 0.63);
    margin-left: 21px;
}


/*Add Room*/
